<table id="transactions">
  <thead>
    <tr>
      <th>Payee</th>
    </tr>
  </thead>
  <tbody>
    <tr class="transaction">
      <td class="payee">
        Livingood's
      </td>
    </tr>
  </tbody>
</table>
