<table id="transactions">
  <thead>
    <tr>
      <th>Payee</th>
    </tr>
  </thead>
  <tbody>
  <% @transactions.each do |transaction| %>
    <tr class="transaction">
      <td class="payee">
        <%= transaction.payee %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
